name: test & release

on: push

jobs:
  test:
    name: test & release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt
      - name: Test
        run: python3 -m unittest ns_schedule_test
      - name: Build artifact
        if: startsWith(github.ref, 'refs/tags/')
        run: make build
      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: '*.alfredworkflow'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
